[submodule "tritech_micron"]
	path = tritech_micron
	url = https://github.com/mcgill-robotics/ros-tritech-micron.git
[submodule "razor_imu_9dof"]
	path = razor_imu_9dof
	url = https://github.com/KristofRobot/razor_imu_9dof.git
[submodule "OpenCPN2ROS"]
	path = OpenCPN2ROS
	url = https://github.com/schvarcz/OpenCPN2ROS.git
[submodule "nmea_navsat_driver"]
	path = nmea_navsat_driver
	url = https://github.com/ros-drivers/nmea_navsat_driver.git
[submodule "nmea_msgs"]
	path = nmea_msgs
	url = https://github.com/ros-drivers/nmea_msgs.git
[submodule "geographic_info"]
	path = geographic_info
	url = https://github.com/ros-geographic-info/geographic_info
[submodule "robot_localization"]
	path = robot_localization
	url =	https://github.com/cra-ros-pkg/robot_localization
[submodule "unique_identifier"]
	path = unique_identifier
	url = https://github.com/ros-geographic-info/unique_identifier
