<!--
     This launch file runs three nodes:
       (1) An UKF instance that uses IMU data and outputs an odom-frame state estimate
       (2) A second UKF instance that fuses the same data, but also fuses the transformed GPS data from (3)
       (3) An instance of navsat_transform_node, which takes in GPS data and produces pose data that has been
           transformed into your robot's world frame (here, map). The node produces a map-frame state estimate.

       The first UKF instance produces the odom->base_link transform. The second UKF produces the map->odom transform,
       but requires the odom->base_link transform from the first instance in order to do so. See the
       params/dual_ukf_navsat.yaml file for parameter specification.
-->

<launch>

  <group ns="rasp">

  <include 
	file="$(find main_rasp)/launch/imu_driver.launch"
  />

  <include
	file="$(find main_rasp)/launch/gps_driver.launch"
  />

  <rosparam 
	command="load" 
	file="$(find main_rasp)/params/dual_ukf_navsat.yaml" 
  />

  <node 
	pkg="robot_localization" 
	type="ukf_localization_node" 
	name="ukf_se_odom" 
	clear_params="true"
  />

  <node 
	pkg="robot_localization" 
	type="ukf_localization_node" 
	name="ukf_se_map" clear_params="true"
   >
	<remap 
		from="odometry/filtered" 
		to="odometry/filtered_map" <!-- result -->
	/>
  </node>

  <node 
	pkg="robot_localization" 
	type="navsat_transform_node" 
	name="navsat_transform" 
	clear_params="true"
   >
	<remap 
		from="odometry/filtered" 
		to="odometry/filtered_map"
         />

	<remap
		from="/imu/data"
		to="/rasp/imu"
	/>

	<remap
		from="/gps/fix"
		to="/rasp/fix"
	/>

  </node>

  </group>

</launch>
